@{
    ViewData["Title"] = "Home Page";
}



<!-- Apply your Parallax background image here -->
<div class="gradient-overlay-half-white-v1 bg-img-hero rounded-lg"
     style='        background-image: url(https://images.unsplash.com/photo-1600977800945-67cb54e3716d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);'>
    <div class="container position-relative z-index-2 space-2-top space-3-bottom space-4--lg">
        <div class="row justify-content-lg-between align-items-lg-center align-items-center">
            <div class="col-lg-10 mb-9 mb-lg-0 my-lg-5">
                <!-- Description -->
                <div class="mb-5 text-light my-lg-5">
                    <span class="d-block text-uppercase mb-2">Welcome to MVC Movie Application</span>
                    <h3 class="display-4 font-size-48--md-down">My Movies </h3>
                </div>

                
            </div>
        </div>
    </div>
</div>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>